<%= form_with(model: product, local: true, id: 'dynamic-item', data: { items: JSON.generate(product.items.map { |i| i.attributes.merge(_destroy: false) }) }) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="product-section">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>
  </section>

  <section class="items-section">
    <h2>Items</h2>

    <div class="item-form" v-for="(item, index) in items" :style="{ display: display(index) }">
      <input type="hidden" name="product[items_attributes][][id]" v-model="item.id">
      <div class="field">
        <label>
          Name<br>
          <input type="text" name="product[items_attributes][][name]" v-model="item.name">
        </label>
      </div>
      <div class="field">
        <label>
          Amount<br>
          <input type="number" name="product[items_attributes][][amount]" v-model="item.amount">
        </label>
      </div>
      <div class="field">
        <%= button_tag 'Delete', type: 'button', class: 'delete-item', "@click" => "deleteItem(index)" %>
        <input type="hidden" name="product[items_attributes][][_destroy]" v-model="item._destroy">
      </div>
    </div>
  </section>

  <div class="actions">
    <%= button_tag 'Add Item', type: 'button', id: 'add-item', "@click" => "addItem" %>
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'dynamic_item_vue' %>
